<?xml version="1.0" encoding="UTF-8" ?>

<!--
 This file is part of the SarSportApplicationBundle package.

 (c) Dmitry Petrov aka fightmaster <old.fightmaster@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
-->

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="sarsport_application.listener.application_blamer" class="SarSport\Bundle\ApplicationBundle\EventListener\ApplicationBlamerListener">
            <!-- TODO: 2.1 <tag name="kernel.event_subscriber" /> -->
            <tag name="kernel.event_listener" event="sarsport_application.application.pre_persist" method="blame" />
            <argument type="service" id="security.context" on-invalid="null" />
            <argument type="service" id="logger" on-invalid="null" />
        </service>
        <service id="sarsport_application.listener.application_updated_at" class="SarSport\Bundle\ApplicationBundle\EventListener\ApplicationUpdatedAtListener">
            <!-- TODO: 2.1 <tag name="kernel.event_subscriber" /> -->
            <tag name="kernel.event_listener" event="sarsport_application.application.pre_persist" method="setUpdatedAt" />
            <argument type="service" id="security.context" on-invalid="null" />
        </service>
        <service id="sarsport_application.listener.application_created_at" class="SarSport\Bundle\ApplicationBundle\EventListener\ApplicationCreatedAtListener">
            <!-- TODO: 2.1 <tag name="kernel.event_subscriber" /> -->
            <tag name="kernel.event_listener" event="sarsport_application.application.create" method="setCreatedAt" />
            <argument type="service" id="security.context" on-invalid="null" />
        </service>
    </services>
</container>
