{% if is_granted('ROLE_ADMIN') %}
<div class="wel">
    <div class="clearfix"><a href="#"></a></div>
</div>
{% endif %}
<ul class="navbar">
    <li><a href="#"><p class="navbar_item navbar_home">Home</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_quiz">Quizzes</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_assignment">Questions</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_lecture">Video</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_forum">Forums</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_wiki">Wiki</p></a></li>
</ul>
