{% extends '::base.html.twig' %}
{% block content %}
{% form_theme form 'SarSportApplicationBundle::form.html.twig' %}
<h1>Оплата за участие в соревнованиях</h1>
<h2>Приключенческая гонка "ОСТАТЬСЯ в ЖИВЫХ"</h2>
<p>Введите необходимую сумму платежа с учетом регламента соревнований. Оставьте дополнительный комментарий для организатора. Укажите название команды, детали платежа. Для удобства ниже представлена вырезка из регламентов соревнований.</p>

<form id="interkassa_payment_new" class="form-inline form-horizontal" action="{{ path('interkassa_payment_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div><input type="submit" class="btn btn-primary" value="{{ 'stfalcon.payment.create' | trans({}, 'SarSportApplicationBundle') }}" /></div>
</form>

<h3>12. Финансовые условия и заявка.</h3>
<p>Расходы по командированию (проезд, питание, размещение, заявочный взнос) участников соревнований за счет командирующих организаций и личных средств спортсменов.</p>
<p>ОНЛАЙН заявки принимаются на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> до 21:00 6 мая. Заявка возможна по эл.почте sergej-ermolov@yandex.ru, факсу (88452) 470001. При заявке необходимо сообщить: группу, состав команды и следующую информацию по каждому участнику: фамилия, имя, дата и год рождения, телефон для связи (номер который будет у участников во время гонки). Заявка на месте соревнований возможна только при наличии свободных мест.
<p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
<p>Целевой (заявочный) взнос с <strong>КОМАНДЫ</strong>:</p>
<ul>
    <li>заявка и оплата (до 23:00 6 мая) - 600 руб</li>
    <li>заявка после 6 мая и оплата в момент регистрации – 1000 руб. (при наличии мест)</li>
    <li>бесплатное участие — победители в абсолютном зачете прошлого года: Клепча И., Сафронова И.</li>
    <li>
        50% оплата — победители по своим группам:
        <ul>
            <li>Гурьянов Е., Лаптев С.</li>
            <li>Постнов Д., Малова С.</li>
            <li>Степанов В., Беляков Е.</li>
            <li>Осинцив К., Котенко Д.</li>
            <li>Зубарь С, Кузнецов И.</li>
            <li>Якубович М. ,Якубович А.</li>
            <li>Утяганов М., Лыков М.</li>
        </ul>
    </li>
</ul>
<p>Участники, не имеющий ЧИП электронной отметки (система SFR) могут преобрести его у организаторов – 250 руб., с последующим выкупом после соревнований за 200 руб. (при отсутствии механических повреждений).</p>
<p>Дополнительный комплект карт, командам где два «навигатора» (по предварительному заказу) – 100 руб., футболка с логотипом соревнований (по предварительному заказу) – 150 руб.</p>
<p><strong>Оплатить участие в гонке можно на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> и в Саратове: ООО «СпортМир», Аверьянов Алексей т.588-348, 89173135800.</strong></p>

<h2>Приключенческий веломарафон «GIANT - Дорога жизни»</h2>
<h3>11. Финансовые условия и заявка.</h3>
<p>Расходы по командированию (проезд, питание, размещение, заявочный взнос) участников соревнований за счет командирующих организаций и личных средств спортсменов.</p>
<p>ОНЛАЙН заявки принимаются на сайте www.ovg.sarsport.ru. до 24:00 6 мая.. При заявке необходимо сообщить: группу, состав команды и следующую информацию по каждому участнику: фамилия, имя, дата и год рождения, телефон для связи (номер который будет у участников во время гонки). Заявка на месте соревнований возможна только при наличии свободных мест.</p>
<p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
<p>Целевой (заявочный) взнос с <strong>КОМАНДЫ</strong> (не зависимо от количества участников в команде):</p>
<ul>
    <li>заявка и оплата (до 23:00 6 мая)  - 300 руб;</li>
    <li>заявка после 6 мая и оплата в момент регистрации – 600 руб. (при наличии мест).</li>
</ul>
<p>Участники, не имеющий ЧИП электронной отметки (система SFR) могут преобрести его у организаторов – 250 руб., с последующим выкупом после соревнований за 200 руб. (при отсутствии механических повреждений).</p>
<p><strong>Оплатить участие в гонке можно на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> и в Саратове: ООО «СпортМир», Аверьянов Алексей т.588-348, 89173135800.</strong></p>
{% endblock %}
