{% extends "::base.html.twig" %}
{% block sub_title %}. Контактная информация{% endblock %}
{% block content %}
<h1>Контактная информация</h1>
<dl>
    <dt>Организатор, главный судья</dt>
    <dd>Аверьянов Алексей, т.(88452) 588-348, ф. 29-18-89, с.89173135800, <a href="mailto:aaver@yandex.ru">aaver[@]yandex.ru</a> </dd>

    <dt>Главный секретарь</dt>
    <dd>Ермолова Ольга, с. 89271180909, <a href="mailto:sergej-ermolov@yandex.ru">sergej-ermolov[@]yandex.ru</a></dd>

    <dt>зам по СТО</dt>
    <dd>Кудасов Николай</dd>

    <dt>разработка/поддержка сайта</dt>
    <dd>Петров Дмитрий, <a href="mailto:fightmaster@mail.ru">fightmaster[@]mail.ru</a></dd>
</dl>
{% endblock %}
