{% extends "::base.html.twig" %}
{% block content %}
    <h1>Часто Задаваемые вопросы</h1>
    {#<blockquote>
        <p>Какая длина дистанции? Какое предполагаемое время лидеров?</p>
    </blockquote>
        <p>Длина гонки окооло 180км, время победителя 20 часов.</p>
    <blockquote>
        <p>Какая длина дистанции? Какое предполагаемое время лидеров?</p>
    </blockquote>
    <p>Длина гонки окооло 180км, время победителя 20 часов.</p>
    <blockquote>
        <p>Какая длина дистанции? Какое предполагаемое время лидеров?</p>
    </blockquote>
    <p>Длина гонки окооло 180км, время победителя 20 часов.</p>#}
{% endblock %}
