{% extends "::base.html.twig" %}
{% block sub_title %}. Информация{% endblock %}
{% block content %}
    <h1>Инфрмация</h1>
        <h2>Приключенческий веломарафон «GIANT - Дорога жизни»</h2>
    <div class="clearfix">
        <h3>Район соревнований</h3>
        <p><a href="http://www.o-saratov.narod.ru/Khvalynsk/spravka_Khvalynsk.pdf">Информация о районе соревнований</a> от СФСО.</p>
        <div class="thumbnail span6">
            {% image '@DefaultBundle/Resources/public/images/race_map_big.jpg'%}
            <a href="{{ asset_url }}" title="В полном размере">
                {% endimage %}
                {% image '@DefaultBundle/Resources/public/images/race_map_small.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </a>
        </div>
    </div>

    <div class="clearfix">
        <h3>Проезд</h3>
        <p>Добраться до Хвалынска можно:</p>
        <ul>
            <li>Из г.Саратова. Автобусом (Растояние 240 км., время в пути 3,5-4 часа). Сайт <a href="http://avtovokzal.region64.ru/">http://avtovokzal.region64.ru/</a>;</li>
            <li>Из г. Сызрань. Автобусом (Растояние 85 км., время в пути 1,5-2 часа). Сайт <a href="http://www.autovokzal63.ru/">http://www.autovokzal63.ru/</a>.</li>
        </ul>
        <p>Возможно будет трансфер (большой автобус). О стоимости, условиях, времени  отправления - будет сообщено позже.</p>
        <p>Для участников будет возможен трансфер по доставке байдарок и велосипедов из г.Саратова. Стоимость в оба конца (при оплате до 6 мая): байдарка (в чехле) — 200 руб., велосипед (в разобранном виде, в чехле) — 200 руб. (без чехла — 500руб.). Предложение ограничено, резервирование, согласно даты оплаты. Отправка вещей будет осуществлятся от экип.центра «СпортМир», ул.5-я Дачная, 9В. О времени сдачи оборудования будет сообщено дополнительно.</p>

        <div class="thumbnail span6">
            {% image '@DefaultBundle/Resources/public/images/region_map.jpg'%}
            <img src="{{ asset_url }}"/>
            {% endimage %}
        </div>
    </div>

    <div class="clearfix">
        <h3>Проживание и питание</h3>
        <ul>
            <li>Центр соревнований. Гостинечный комплекс горнолыжного центра, номера со всеми удобствами.<br>
                Стоимость проживания от 500 руб., доп. место — 100 руб. Питание от 350 руб. Телефон администратора: 8 927 124 18 77. Сайт, очень информативный: <a href="http://hvalin.ru/">http://hvalin.ru/</a></li>
            <li>Центр соревнований. Палаточный городок. Оборудованные туалеты, вода. Разведение костров запрещено, только газовые плиты. 30 руб./день с человека.</li>
            <li>Гостевой дом «Верста». 6 км. До центра соревнований, 1 км. до места старта.<br>
                Стоимость проживания от 550 руб., питание — домашняя и недорогая кухня. Телефон администратора 8 (8452) 25 11 90, 8 927 277 90 90. Сайт, очень информативный: <a href="http://www.verstadom.ru/">http://www.verstadom.ru/</a></li>
            <li>Частный сектор г.Хвалынска. В это время года цены на проживание весьм умеренные.</li>
        </ul>
    </div>
{% endblock %}
