{% extends "::base.html.twig" %}
{% block content %}
    <h1>Инфрмация</h1>
        <h2>Приключенческая гонка "ОСТАТЬСЯ в ЖИВЫХ"</h2>

<div class="thumbnail span6">
    {% image '@DefaultBundle/Resources/public/images/sxema2012.jpg'%}
    <img src="{{ asset_url }}"/>
    {% endimage %}
</div>
{% endblock %}
