{% extends "::base.html.twig" %}
{% block content %}
        <h1>ПОЛОЖЕНИЕ</h1>
        <h2>Приключенческий веломарафон «GIANT - Дорога жизни»</h2>
        <h3>1. Цели и задачи.</h3>
            <p>Популяризация и дальнейшее развитие любительского и профессионального велоспорта в Саратовской области. Вовлечение населения в регулярные занятия спортом в условиях природной среды. Пропаганда здорового образа жизни. Повышения туристической привлекательности Национального Парка и города Хвалынск. Краеведческая информация о красивейших местах Саратовской области, малых городах и селах области. Привлечение внимания СМИ к вопросам здорового и активного образа жизни.</p>
        <h3>2. Время и место проведения, размещение участников.</h3>
            <p>Марафон проводится 18-20 мая 2012 года в Саратовской области. Центр соревнований –  горнолыжный курорт «Хвалынский», г.Хвалынск Саратовский области. Размещение команд - гостиницы, дома отдыха, частный сектор г.Хвалынск, возможно размещение в полевых условиях (палаточный лагерь) в центре соревнований.  Среднестатистическая температура воздуха на период гонки днем 15-23°С, ночью 6-14°С.</p>
        <h3>3. Программа.</h3>
            <ul>
                <li>18 (Пт.) Заезд, размещение участников.</li>
                <li>
                    19 (Сб.) Заезд, размещение участников, регистрация.
                    <ul>
                        <li>8:00 – 10:00 – регистрация участников;</li>
                        <li>11:00 – открытие соревнований (центральная площадь г.Хвалынска)</li>
                        <li>12:15 – 13:00 – Старт соревнований (участники стартуют самостоятельно со стартовой станции электронной отметки).</li>
                    </ul>
                </li>
                <li>
                    20 (Вс.)
                    <ul>
                        <li>10:00 – Окончание контрольного времени марафона;</li>
                        <li>13:00 – Награждение, закрытие соревнований.</li>
                    </ul>
                </li>
            </ul>
        <h3>4. Организаторы</h3>
            <p>Организатор, гл.судья – Аверьянов А.</p>
            <p>Официальный сайт марафона – www.ovg.sarsport.ru</p>
        <h3>5. Участники соревнований, возрастные группы.</h3>
            <p>Соревнования являются открытыми и принять участие в них может любой желающий, достигший 14 лет. Участники в составе команд выступают в одной из двух категорий – СПОРТ  и ТУРИЗМ, в следующих группах:</p>
            <ul>
                <li>ММ – мужчины, старше 18 лет;</li>
                <li>МЖ – мужчина + женщина (женщина + женщина), старше 18 лет;</li>
                <li>ММВ, МЖВ – ветераны (сумма лет двух участников свыше 90 лет);</li>
                <li>команда может состоять из одного совершеннолетнего участника;</li>
            </ul>
            <p>Участники младше 16 лет могут принимать участие только в команде с родителями, младше 18 лет в команде вместе с совершеннолетними участниками и только с письменного согласия одного из родителей.</p>
        <h3>6. Параметры, порядок проведения.</h3>
            <p>СПОРТ – 130 км., общий набор высоты 2 км. (Асфальт 20%, грунт 75%, бездорожье 5%). Предполагаемое время лидеров 9 – 10 часов.</p>
            <p>ТУРИЗМ – 30 км., общий набор высоты 0,9 км. (Асфальт 40%, грунт 55%, бездорожье 5%).</p>
            <p>Команде выдается: карта и схема с маршрутом движения, словесное описание маршрута, предоставляется возможность загрузки GPS-трека маршрута. Участникам необходимо преодолеть заданный маршрут с расположенными на нем контрольными пунктами (КП). На соревнованиях будет применяться электронная система отметки (SFR), с помощью которой будет вестись хронометраж и контроль прохождения маршрута.</p>
            <p>Старт команд осуществляется самостоятельно в указанный промежуток времени со стартовой станции.</p>
            <p>Финиш – отметка на финишной базе электронной системы, результат фиксируется по второму участнику команды.</p>
        <h3>7. Участники соревнований.</h3>
            <p>К участию допускаются мужчины и женщины от 18 лет, по решению организаторов к участию могут быть допущены команды с возрастом одного из участников от 14 лет (только в составе с родителями!). Названия команд будут отражаться в СМИ.</p>
            <p><strong>Регистрация на участие подтверждает следующее: участники команды знают о состоянии собственного физического здоровья и знают пределы индивидуальных нагрузок.. Участники осознают потенциальные риски и угрозы, связанные с участием в данных соревнованиях и лично несут ответственность за свою жизнь и здоровье во время гонки, что подтверждают распиской об участии в соревновании.  Участники обязаны иметь комплект оговоренного необходимого снаряжения.</strong></p>
            <p>Организаторы оставляют за собой право остановить участника на дистанции, если физическое состояние участника вызывает серьёзные опасения и может нанести ущерб его здоровью.</p>
            <p>Организаторы не эвакуируют сошедших с дистанции участников, кроме крайних случаев, требующих незамедлительной госпитализации.</p>
        <h3>8. Обязательное и рекомендуемое снаряжение.</h3>
            <h4>Обязательное, каждому участнику</h4>
            <ul>
                <li>велосипед, должен быть в исправном техническом состоянии, оборудован тормозами на оба колеса, адаптирован для участия в соревнованиях, со скоростями или без скоростей, приводимый в движение только мускульной силой (фирма, тип и модель не имеет значения);</li>
                <li>защитный шлем;</li>
                <li>задний красный фонарь (не светоотражатель!!!), фара велосипеда или налобный фонарь (для категория СПОРТ);</li>
                <li>заряженный сотовый телефон "большой тройки" (и не нулевым балансом), с внесенным в память телефона номером организатора;</li>
            </ul>
            <h4>Обязательное, на команду</h4>
                <ul>
                    <li>велоаптечка, запасная велокамера</li>
                    <li><span class="label label-important">аптечка: бинт, стерильная салфетка, перекись водорода, лейкопластырь, обезболивающие</span></li>
                </ul>
            <h4>Рекомендуемое снаряжение</h4>
            <p>Велокомпьютер, GPS навигатор, компас, запасные велокамеры, спички, нож, запас воды, запас питания, велопланшет, рюкзак объемом не менее 15 литров, запас сменной одежды и обуви, в том числе теплой и ветро- водонепроницаемой.</p>
        <h3>9. Определение результатов</h3>
            <p>Победителем считается команда, прошедшая весь маршрут, имеющая минимальное время прохождения. Команды не уложившиеся в контрольное время, располагаются в протоколе по количеству взятых по порядку КП.</p>
        <h3>10. Награждение</h3>
            <p>Все заявившиеся участники обеспечиваются сувенирной продукцией мероприятия.</p>
            <h4>Категория СПОРТ</h4>
            <p>Победители и призеры награждаются медалями и призами. Команда победитель в абсолютном зачете  – ценным призом. Организатор  в абсолютном зачете (по возможности) наградит и за 4-6 места.</p>
            <h4>Категория ТУРИЗМ</h4>
            <p>В данной категории призы не разыгрываются. По результатам гонки, во время награждения, среди всех дошедших участников будет проведена лотерея с розыгрышем призов.</p>
        <h3>11. Финансовые условия и заявка.</h3>
            <p>Расходы по командированию (проезд, питание, размещение, заявочный взнос) участников соревнований за счет командирующих организаций и личных средств спортсменов.</p>
            <p>ОНЛАЙН заявки принимаются на сайте www.ovg.sarsport.ru. до 24:00 6 мая.. При заявке необходимо сообщить: группу, состав команды и следующую информацию по каждому участнику: фамилия, имя, дата и год рождения, телефон для связи (номер который будет у участников во время гонки). Заявка на месте соревнований возможна только при наличии свободных мест.</p>
            <p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
            <p>Целевой (заявочный) взнос с <strong>КОМАНДЫ</strong> (не зависимо от количества участников в команде):</p>
                <ul>
                    <li>заявка и оплата (до 23:00 6 мая)  - 300 руб;</li>
                    <li>заявка после 6 мая и оплата в момент регистрации – 600 руб. (при наличии мест).</li>
                </ul>
            <p>Участники, не имеющий ЧИП электронной отметки (система SFR) могут преобрести его у организаторов – 250 руб., с последующим выкупом после соревнований за 200 руб. (при отсутствии механических повреждений).</p>
            <p><strong>Оплатить участие в гонке можно на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> и в Саратове: ООО «СпортМир», Аверьянов Алексей т.588-348, 89173135800.</strong></p>
        <h2>ДАННОЕ ПОЛОЖЕНИЕ ЯВЛЯЕТСЯ ВЫЗОВОМ НА СОРЕВНОВАНИЯ</h2>
{% endblock %}
