{% extends "::base.html.twig" %}
{% block sub_title %}. Положение{% endblock %}
{% block content %}

    <h1>Положение</h1>
        <h2>Приключенческая гонка "ОСТАТЬСЯ в ЖИВЫХ"</h2>
        <h3>1. Цели и задачи.</h3>
            <p>Популяризация и дальнейшее развитие приключенческих видов спорта в Саратовской области. Вовлечение населения в регулярные занятия спортом в условиях природной среды. Пропаганда здорового образа жизни. Краеведческая информация о красивейших местах Саратовской области, малых городах и селах области. Привлечение внимания СМИ к вопросам здорового и активного образа жизни.</p>
        <h3>2. Время и место проведения, размещение участников.</h3>
            <p>Приключенческая гонка проводится 13-14 июля 2013 года в Саратовской области. Место базового лагеря –  район села Подстепное Энгельсского района Саратовский области. Размещение команд - в полевых условиях (палаточный лагерь). Среднестатистическая температура воздуха на период гонки днем 28-35°С, ночью 20-25°С. Температура воды 21-23°С.</p>
        <h3>3. Программа.</h3>
            <ul>
                <li>12 (Пт.) c 19:00 Заезд, размещение участников.</li>
                <li>
                    13 (Сб.) Заезд, размещение участников, регистрация.
                    <ul>
                        {#<li>7:00 – 10:00 – регистрация участников;</li>#}
                        {#<li>8:00 - 8:45 - Погрузка байдарок в судейскую газель (байдарки в разобранном виде в чехле).</li>#}
                        {#<li>8:00 - 8:45 - Сдача забросок в транзитную зону (ТЗ-2 - финиш 2 этапа (байдарка), 4 этапа (велосипед))</li>#}
                        {#<li>8:45 - Брифинг (центр соревнований).</li>#}
                        {#<li>9:00, 9:40, 10:20, 11:00 - отправление автобуса на пляж Хвалынска ТЗ-1 (последний автобус идет на место старта).</li>#}
                        {#<li>11:30 – Торжественное открытие и представление команд (центр Хвалынска).</li>18 (Пт.) Заезд, размещение участников, регистрация.#}
                        <li>12:00 – Старт гонки;</li>
                    </ul>
                </li>
                <li>
                    14 (Вс.) Финиш, награждение, закрытие
                    <ul>
                        <li>12:00 – Финиш (24 часа);</li>
                        <li>14:00 – Награждение, закрытие соревнований.</li>
                    </ul>
                </li>
            </ul>
        <h3>4. Организаторы.</h3>
            <p>Организатор "ООО СпортМир", гл.судья – Аверьянов А. Главный секретарь — Ермолова О., зам по СТО — Постнов Д., Фирсов К., Малова С., Корчагин Ю.
                <br>Официальный сайт гонки – <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a>.
            </p>
        <h3>5. Формат гонки, группы.</h3>
            <p>Формат гонки – 24 часа, 8 часов нон-стоп (без остановки). Участники в составе команд выступают в одной из двух категорий – СПОРТ и ТУРИЗМ, состав команды 2 человека (ММ или МЖ). Дистанция для всех категорий одинакова.
                {% image '@DefaultBundle/Resources/public/images/schema2013.jpg'%}
        <h3>6. Дисциплины и <a target="_blank" href="{{ asset_url }}">схема гонки</a>.</h3>
        {% endimage %}
    <p>Этапы: ориентирование на байдарках, трекинг с плаванием, технические этапы. Все этапы дистанции проходятся в заданной последовательности. Допускается пропуск как отдельных КП, так и целых этапов. КП и этапы, пройденные с нарушением заданной последовательности не засчитываются. Финиш и старт отдельных этапов ограничен по времени. Контрольное время — 24 часа.</p>

    <h3>7. Карты, контрольные пункты, легенды, отметка.</h3>
        <p>На команду выдаются несколько цветных карт формата А3 — топографические карты и космоснимки (хорошего качества, до «дерева»). Карты напечатаны на нервущейся и непромокаемой бумаге.</p>
        <p>Контрольный пункт (КП) представляет собой несколько оборотов красно-белой сигнальной ленты вокруг дерева,  их номера будут дополнительно написаны краской. КП не будут иметь светоотражающих элементов. На соревнованиях будет применяться фотоотметка.</p>

    <h3>8. Участники соревнований.</h3>
            <p>К участию допускаются мужчины и женщины от 18 лет, по решению организаторов к участию могут быть допущены команды с возрастом одного из участников от 16 лет (только в составе с родителями!). <strong>Названия команд будут отражаться в СМИ.</strong></p>
            <p><strong><i>Регистрация на участие в гонке подтверждает следующее: участники команды знают о состоянии собственного физического здоровья и знают пределы индивидуальных нагрузок, а так же владеют всеми необходимыми техническими навыками для выполнения предлагаемых заданий и этапов. Участники осознают потенциальные риски и угрозы, связанные с участием в данных соревнованиях и лично несут ответственность за свою жизнь и здоровье во время гонки, что подтверждают распиской об участии в соревновании.  Участники обязаны иметь комплект оговоренного необходимого снаряжения.</i></strong></p>
            <p>Организаторы оставляют за собой право остановить участника на дистанции, если физическое состояние участника вызывает серьёзные опасения и может нанести ущерб его здоровью.</p>
            <p>Организаторы не эвакуируют сошедших с дистанции участников, кроме крайних случаев, требующих незамедлительной госпитализации.</p>
        <h3>9. Обязательное и рекомендуемое снаряжение.</h3>
            <h4>Обязательное снаряжение</h4>
            <ul>
                <li>Байдарка с веслами и емкостями непотопляемости объемом не менее 10 литров.</li>
                <li>Спасательный жилет на этапы «байдарка» и «трекинг» — каждому, объем не менее 8 литров. </li>
                <li>Защитный шлем на техэтапы, налобный фонарь.</li>
                <li>Заряженный сотовый телефон "большой тройки" (с ненулевым балансом), с внесенным в память телефона номером организатора. Телефон должен быть влагостойкий или в надежном гермопакете.</li>
                <li>Компас, имеющий шкалу с градусами, свисток, спички, нож - <strong>вся дистанция</strong>.</li><li><strong>Аптечка: бинт, стерильная салфетка, перекись водорода, лейкопластырь, обезболивающие - вся дистанция.</strong></li>
                <li>GPS навигатор с запасными элементами питания (на 48 часов).</li>
            </ul>
            <h4>Рекомендуемое снаряжение</h4>
            <ul>
                <li>альпинистская беседка, 2 уса, 3 карабина, 70м. - шнур (4-5 мм).</li>
                <li>Запас воды, запас питания, рюкзак объемом не менее 15 литров, запас сменной одежды и обуви, в том числе и ветро- водонепроницаемой.</li>
            </ul>

        <h3>10. Определение результатов.</h3>
            <p>Победителем считается команда:</p>
            <ul>
                <li>прошедшая наибольшее количество этапов;</li>
                <li>нашедшая наибольшее количество КП (пройденых в заданом направлении);</li>
                <li>имеющая минимальное время прохождения.</li>
            </ul>
            <p><strong>При опоздании на финиш сверх контрольного времени за каждые полные и неполные 10 минут вычитается одно КП. При опоздании более, чем на 30 минут, результат команде не засчитывается!</strong></p>
        <h3>11. Награждение.</h3>
            <p>Победители и призеры в категории СПОРТ награждаются медалями и призами. В категории ТУРИЗМ  среди всех финишировавших будет проведена лотерея. Все участники обеспечиваются сувенирной продукцией мероприятия.</p>
        <h3>12. Финансовые условия и заявка.</h3>
            <p>Расходы по командированию (проезд, питание, размещение, заявочный взнос) участников соревнований за счет командирующих организаций и личных средств спортсменов.</p>
            <p>ОНЛАЙН заявки принимаются на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> до 21:00 5 июля. Заявка возможна по эл.почте sergej-ermolov@yandex.ru, факсу (88452) 470001. При заявке необходимо сообщить: группу, состав команды и следующую информацию по каждому участнику: фамилия, имя, дата и год рождения, телефон для связи (номер который будет у участников во время гонки). Заявка на месте соревнований возможна только при наличии свободных мест.
            <p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
            <p>Целевой (заявочный) взнос с <strong>КОМАНДЫ</strong>:</p>
            <ul>
                <li>заявка и оплата (до 21:00 5 июля) - 500 руб</li>
                <li>заявка после 5 июля и оплата в момент регистрации – 750 руб. (при наличии мест)</li>
            </ul>
            <p>Дополнительный комплект карт, командам где два «навигатора» (по предварительному заказу) – 200 руб., футболка с логотипом соревнований (по предварительному заказу) – 200 руб.</p>
            <p><strong>Оплатить участие в гонке можно на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> и в Саратове: ООО «СпортМир», Аверьянов Алексей т.588-348, 89173135800.</strong></p>
        <h2>ДАННОЕ ПОЛОЖЕНИЕ ЯВЛЯЕТСЯ ВЫЗОВОМ НА СОРЕВНОВАНИЯ</h2>

        <div class="clearfix">
            <p>Последнее изменение страницы от 27 июня</p>
        </div>
{% endblock %}
