{% extends "::base.html.twig" %}
{% block sub_title %}. Положение{% endblock %}
{% block content %}

    <h1>Положение</h1>
        <h2>Приключенческая гонка "ОСТАТЬСЯ в ЖИВЫХ"</h2>
        <h3>1. Цели и задачи.</h3>
            <p>Популяризация и дальнейшее развитие приключенческих видов спорта в Саратовской области. Вовлечение населения в регулярные занятия спортом в условиях природной среды. Пропаганда здорового образа жизни. Краеведческая информация о красивейших местах Саратовской области, малых городах и селах области. Привлечение внимания СМИ к вопросам здорового и активного образа жизни.</p>
        <h3>2. Время и место проведения, размещение участников.</h3>
        {% image '@DefaultBundle/Resources/public/images/race_map_big.jpg'%}
            <p>Приключенческая гонка проводится 18-20 мая 2012 года в Саратовской области. Центр соревнований –  горнолыжный курорт <a target="_blank" href="{{ asset_url }}">«Хвалынский»</a>, г.Хвалынск Саратовский области. Размещение команд - гостиницы, дома отдыха, частный сектор г.Хвалынск, возможно размещение в полевых условиях (палаточный лагерь) в центре соревнований.  Среднестатистическая температура воздуха на период гонки днем 15-23°С, ночью 6-14°С.</p>
        {% endimage %}
        <h3>3. Программа.</h3>
            <ul>
                <li>18 (Пт.) Заезд, размещение участников.
                    <ul>
                        <li>20:00 – 23:00 – регистрация участников;</li>
                    </ul>
                </li>
                <li>
                    19 (Сб.) Заезд, размещение участников, регистрация.
                    <ul>
                        <li>7:00 – 10:00 – регистрация участников;</li>
                        <li>8:00 - 8:45 - Погрузка байдарок в судейскую газель (байдарки в разобранном виде в чехле).</li>
                        <li>8:00 - 8:45 - Сдача забросок в транзитную зону (ТЗ-2 - финиш 2 этапа (байдарка), 4 этапа (велосипед))</li>
                        <li>8:45 - Брифинг (центр соревнований).</li>
                        <li>9:00, 9:40, 10:20, 11:00 - отправление автобуса на пляж Хвалынска ТЗ-1 (последний автобус идет на место старта).</li>
                        <li>11:30 – Торжественное открытие и представление команд (центр Хвалынска).</li>18 (Пт.) Заезд, размещение участников, регистрация.
                        <li>12:00 – Старт гонки;</li>
                        <li>20:00 – Финиш категории ТУРИЗМ (8 часов);</li>
                    </ul>
                </li>
                <li>
                    20 (Вс.) Финиш, награждение, закрытие
                    <ul>
                        <li>12:00 – Финиш категории СПОРТ (24 часа);</li>
                        <li>13:00 – Награждение, закрытие соревнований.</li>
                        <li>14:00 - 16:00 - Сборка, забор байдарок из ТЗ-3. (2,1 км. до Волги, при дожде 650 м. придется тащить байду до асфальта).</li>
                    </ul>
                </li>
            </ul>
        <p><strong>Все ТЗ закрываются в 16:00, дальше за сохранность вещей организаторы ответсвенности не несут!</strong></p>
        <h3>4. Организаторы.</h3>
            <p>Организатор, гл.судья – Аверьянов А. Главный секретарь — Ермолова О., зам по СТО — Кудасов Н.
                <br>Официальный сайт гонки – <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a>.
            </p>
        <h3>5. Формат гонки, группы.</h3>
            <p>Формат гонки – 24 часа, 8 часов нон-стоп (без остановки). Состав команды 2 человека с делением на мужские команды ММ и смешанные (женские) команды МЖ.
                Соревнования являются открытыми и принять участие в них может любой желающий, достигший 18 лет. Участники в составе команд выступают в одной из двух категорий – СПОРТ  и ТУРИЗМ, в следующих группах:
            </p>
            <ul class="unstyled">
                <li>ММ – мужчины, старше 18 лет;</li>
                <li>МЖ – мужчина + женщина (женщина + женщина), старше 18 лет;</li>
                <li>ММВ, МЖВ – ветераны (сумма лет двух участников свыше 90 лет);</li>
            </ul>
        {% image '@DefaultBundle/Resources/public/images/sxema2012.jpg'%}
        <h3>6. Дисциплины и <a target="_blank" href="{{ asset_url }}">схема гонки</a>.</h3>
        {% endimage %}
            <p>Мультигонка включает следующие этапы, которые <span class="label label-info">проходятся в заданной последовательности:</span></p>
            <ul>
                <li>городское ориентирование,</li>
                <li>гребля на байдарках,</li>
                <li>трекинг,</li>
                <li>велосипед,</li>
                <li>скалолазание (стенд),</li>
                <li>закрепленые веревки,</li>
                <li>спортивное ориентирование.</li>
            </ul>
            <p>
                <strong>Допускается пропуск как отдельных КП, так и целых этапов. КП и этапы пройденые с нарушением заданной последовательности не засчитываются.</strong>
            </p>
            <p>На соревнованиях будет применяться электронная система отметки (SFR) с помощью которой будет вестись хронометраж и контроль прохождения маршрута.</p>
        <h3>7. Карты, контрольные пункты, легенды, отметка.</h3>
            <p>На команду выдаются несколько карт формата А3, А4 — топографических и спортивных разных масштабов.</p>
            <p>Контрольный пункт (КП) представляет собой несколько оборотов красно-белой сигнальной ленты вокруг дерева и укрепленный поверх станцию электронной отметки. КП будут иметь светоотражающие элементы.</p>
        <h3>8. Участники соревнований.</h3>
            <p>К участию допускаются мужчины и женщины от 18 лет, по решению организаторов к участию могут быть допущены команды с возрастом одного из участников от 16 лет (только в составе с родителями!). <strong>Названия команд будут отражаться в СМИ.</strong></p>
            <p><strong><i>Регистрация на участие в гонке подтверждает следующее: участники команды знают о состоянии собственного физического здоровья и знают пределы индивидуальных нагрузок, а так же владеют всеми необходимыми техническими навыками для выполнения предлагаемых заданий и этапов. Участники осознают потенциальные риски и угрозы, связанные с участием в данных соревнованиях и лично несут ответственность за свою жизнь и здоровье во время гонки, что подтверждают распиской об участии в соревновании.  Участники обязаны иметь комплект оговоренного необходимого снаряжения.</i></strong></p>
            <p>Организаторы оставляют за собой право остановить участника на дистанции, если физическое состояние участника вызывает серьёзные опасения и может нанести ущерб его здоровью.</p>
            <p>Организаторы не эвакуируют сошедших с дистанции участников, кроме крайних случаев, требующих незамедлительной госпитализации.</p>
        <h3>9. Обязательное и рекомендуемое снаряжение.</h3>
            <h4>Обязательное снаряжение</h4>
            <ul>
                <li>Защитный шлем на велоэтапы и этап скалолазание - каждому.</li>
                <li>Спасательный жилет на этап гребли - каждому.</li>
                <li>Налобный фонарь, задний красный фонарь (не светоотражатель), фара велосипеда - каждому на ночные этапы.</li>
                <li>Заряженный сотовый телефон "большой тройки" (и не нулевым балансом), с внесенным в память телефона номером организатора.</li>
                <li>Компас имеющий шкалу с градусами, свисток, спички, нож - <strong>вся дистанция</strong>.</li>
                <li><span class="label label-info">Для класса СПОРТ</span> - командам, планирующим двигаться по самому сложному маршруту - альпинистская беседка, 2 уса, 3 карабина, устройство для подъема и спуска, 20 м. веревки (не менее 10мм.), 20м. - шнур (5 мм).</li>
                <li><strong>Аптечка: бинт, стерильная салфетка, перекись водорода, лейкопластырь, обезболивающие - вся дистанция</strong></li>
            </ul>
            <h4>Рекомендуемое снаряжение</h4>
            <p>Велосипед с велокопьютером, байдарка с емкостями непотопляемости. GPS навигатор, альпинистская беседка, 2 уса, 3 карабина, жумар – на этап веревки, запасной компас, запас воды, запас питания, велоаптечка, запасные велокамеры, велопланшет, рюкзак объемом не менее 15 литров, запас сменной одежды и обуви, в том числе теплой и ветро-водонепроницаемой.</p>
        <h3>10. Определение результатов.</h3>
            <p>Победителем считается команда:</p>
            <ul>
                <li>прошедшая наибольшее количество этапов;</li>
                <li>нашедшая наибольшее количество КП (пройденых в заданом направлении);</li>
                <li>имеющая минимальное время прохождения.</li>
            </ul>
            <p><strong>При опоздании на финиш сверх контрольного времени за каждую полную минуту вычитается одно КП, при опоздании более чем на 30 мин. результат команде не засчитывается!</strong></p>
        <h3>11. Награждение.</h3>
            <p>Победители и призеры награждаются медалями и призами. В категории СПОРТ  команда победитель в абсолютном зачете  – ценным призом (не менее 30 тыс. руб.). Организатор в категории СПОРТ  в абсолютном зачете (по возможности) наградит и за 4-6 места. Все участники обеспечиваются сувенирной продукцией мероприятия.</p>
        <h3>12. Финансовые условия и заявка.</h3>
            <p>Расходы по командированию (проезд, питание, размещение, заявочный взнос) участников соревнований за счет командирующих организаций и личных средств спортсменов.</p>
            <p>ОНЛАЙН заявки принимаются на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> до 21:00 13 мая. Заявка возможна по эл.почте sergej-ermolov@yandex.ru, факсу (88452) 470001. При заявке необходимо сообщить: группу, состав команды и следующую информацию по каждому участнику: фамилия, имя, дата и год рождения, телефон для связи (номер который будет у участников во время гонки). Заявка на месте соревнований возможна только при наличии свободных мест.
            <p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
            <p>Целевой (заявочный) взнос с <strong>КОМАНДЫ</strong>:</p>
            <ul>
                <li>заявка и оплата (до 23:00 13 мая) - 600 руб</li>
                <li>заявка после 13 мая и оплата в момент регистрации – 1000 руб. (при наличии мест)</li>
                <li>бесплатное участие — победители в абсолютном зачете прошлого года: Клепча И., Сафронова И.</li>
                <li>
                    50% оплата — победители по своим группам:
                    <ul>
                        <li>Гурьянов Е., Лаптев С.</li>
                        <li>Постнов Д., Малова С.</li>
                        <li>Степанов В., Беляков Е.</li>
                        <li>Осинцив К., Котенко Д.</li>
                        <li>Зубарь С, Кузнецов И.</li>
                        <li>Якубович М. ,Якубович А.</li>
                        <li>Утяганов М., Лыков М.</li>
                    </ul>
                </li>
            </ul>
            <p>Участники, не имеющий ЧИП электронной отметки (система SFR) могут преобрести его у организаторов – 250 руб., с последующим выкупом после соревнований за 200 руб. (при отсутствии механических повреждений).</p>
            <p>Дополнительный комплект карт, командам где два «навигатора» (по предварительному заказу) – 100 руб., футболка с логотипом соревнований (по предварительному заказу) – 150 руб.</p>
            <p><strong>Оплатить участие в гонке можно на сайте <a href="http://ovg.sarsport.ru">ovg.sarsport.ru</a> и в Саратове: ООО «СпортМир», Аверьянов Алексей т.588-348, 89173135800.</strong></p>
        <h2>ДАННОЕ ПОЛОЖЕНИЕ ЯВЛЯЕТСЯ ВЫЗОВОМ НА СОРЕВНОВАНИЯ</h2>

        <div class="clearfix">
            <p>Последнее изменение страницы от 10 мая (уточнение программы соревнований)</p>
        </div>
{% endblock %}
