{% extends '::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sarsportapplication/css/application.css') }}">
{% endblock %}
{% block flashMessages %}
    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        {{ message|trans({}, 'SarSportApplicationBundle') }}
    </div>
    {% endfor %}
{% endblock %}

{% block content %}
    {% block sarsport_application_content %}
    {% endblock sarsport_application_content %}
{% endblock  %}
