{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets '@SarSportApplicationBundle/Resources/public/css/application.css'%}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}
{% block flashMessages %}
    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        {{ message|trans({}, 'SarSportApplicationBundle') }}
    </div>
    {% endfor %}
{% endblock %}

{% block content %}
    {% block sarsport_application_content %}
    {% endblock sarsport_application_content %}
{% endblock  %}
