{% extends "::base.html.twig" %}
{% block content %}
        <p>Мультигонка "Остаться в Живых" проводится с 2010 г. В ней можно принять участие спортсменам, бывшим спортсменам, любителям спорта и просто хорошим людям. Наши соревнования проходят в красивейших местах Саратовской области, мы стараемся показать Вам памятники природы и рассказать интересные истории о родном крае. Разнообразные форматы соревнований позволят каждому выбрать себе задачу по силам: победу, приключение, авантюру, отдых, общение... Мы гарантируем Вам незабываемые впечатления на целый год!</p>
        <h3>Остаться в Живых 2012</h3>
        <p>У подножия высочайшей по местным меркам горы, с юга совершенно почти белой от беловатого струйчатого песка и выходов мела, находится ущелье несколько необыкновенное по своим свойствам. Это небольшой разлом земной коры, в котором смещенные слои глины альбского века дали небольшую радоновую радиоактивность. Это место и было пересечением больших дорог, здесь северные пути встречались с южными, западные с восточными. Люди преклоняли здесь колени перед дальней дорогой, и на перекрестке своей судьбы. Именно сюда, в курортный городок Хвалынск, мы рады пригласить Вас на третью приключенческую гонку <strong>«ОСТАТЬСЯ в ЖИВЫХ»</strong> и на первый  приключенческий веломарафон  <strong>«GAINT - Дорога жизни»</strong>.</p>
        <p>Большая часть гонки пройдет по территории национального парка, на целые сутки Вы окунетесь в уникальную нетронутую природу с её реликтовыми соснами, нисходящими родниками изливающиеся у подножья меловых гор.</p>
        <p><strong>Приезжайте, не пожелеете!</strong></p>
        <h3>Остаться в Живых 2011</h3>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/bS_sLPAZk20?rel=0" frameborder="0" allowfullscreen></iframe>
        <h3>Остаться в Живых 2010</h3>
        <iframe width="480" height="360" src="http://www.youtube.com/embed/0u6ceC7QwjY?rel=0" frameborder="0" allowfullscreen></iframe>
{% endblock %}
