{% extends "::base.html.twig" %}
{% block content %}
        <p>Мультигонка "Остаться в Живых" проводится с 2010 г. В ней можно принять участие спортсменам, бывшим спортсменам, любителям спорта и просто хорошим людям. Наши соревнования проходят в красивейших местах Саратовской области, мы стараемся показать Вам памятники природы и рассказать интересные истории о родном крае. Разнообразные форматы соревнований позволят каждому выбрать себе задачу по силам: победу, приключение, авантюру, отдых, общение... Мы гарантируем Вам незабываемые впечатления на целый год!</p>
        <h3>Остаться в Живых 2013</h3>
        <p>Место старта совпадает с 2011 годом — это берег волжских проток за селом Подстепное. Однако весь маршрут будет полностью проходить по «водному миру» - изюминке данного района, в связи с чем нет возможности использовать велосипед, как средство передвижения. Мы компенсируем это сложнейшим трекингом с плаванием и незабываемой ночной байдаркой.</p>
        <h3>Остаться в Живых 2011</h3>
        <object width="450" height="246"><param name="video" value="http://static.video.yandex.ru/lite/fortochkatv/74xghva7x8.3901/"></param><param name="allowFullScreen" value="true"></param><param name="scale" value="noscale"></param><param name="flashvars" value="is-hq=true"></param><embed src="http://static.video.yandex.ru/lite/fortochkatv/74xghva7x8.3901/" type="application/x-shockwave-flash" width="450" height="246" allowFullScreen="true" scale="noscale"flashvars="is-hq=true" ></embed></object>
        <h3>Остаться в Живых 2010</h3>
        <iframe width="480" height="360" src="http://www.youtube.com/embed/0u6ceC7QwjY?rel=0" frameborder="0" allowfullscreen></iframe>
{% endblock %}
